

.tw-custom blockquote {
    border-color: #444 !important;
}

.tw-custom #TwContainer,
.tw-custom #TwContainer *,
.tw-custom .s-messages__separator-content,
.tw-custom .s-messages__separator-content--last-read,
.tw-custom .s-conversation-title,
.tw-custom .s-conversation-title *:not(.s-avatar__status),
.tw-custom .s-conversation__message-form-wrapper,
.tw-custom .s-conversation__message-form-wrapper *:not(.s-avatar__status),
.tw-custom .m-file-viewer__file,
.tw-custom .m-file-viewer__file *:not(.s-avatar__status),
.tw-custom .s-messages,
.tw-custom .s-messages *:not(pre):not(code):not(.s-avatar__status) {
    background-color: #282828 !important;
}

.tw-custom .s-conversation-blank-slate__message:not(.s-avatar__status),
.tw-custom .w-conversation-link,
.tw-custom .w-conversation-link *:not(.s-avatar__status),
.tw-custom .s-conversations-list,
.tw-custom .s-conversations-list *:not(.s-avatar__status),
.tw-custom .s-conversations-filter,
.tw-custom .s-conversations-filter *:not(.s-avatar__status),
.tw-custom .s-conversations-list__header,
.tw-custom .s-conversations-list__header *:not(.s-avatar__status),
.tw-custom .w-text-input,
.tw-custom .w-text-input *:not(.s-avatar__status),
.tw-custom .m-file-viewer__header,
.tw-custom .m-file-viewer__header *:not(.s-avatar__status),
.tw-custom .p-chat__left-sidebar,
.tw-custom .p-chat__left-sidebar *:not(.s-avatar__status),
.tw-custom  {
    background-color: #222 !important;
}

/*
.tw-custom .s-avatar__status {
    display: none;
}
*/

.meetButton,
.tw-custom .s-conversations-list__unread-indicator,
.tw-custom .s-conversation-preview--unread, 
.tw-custom .s-conversation-preview--unread *:not(.s-avatar__status),
.tw-custom .s-unified-header { 
    background-color: #205e9f !important;
}
.tw-custom .s-conversation-preview.router-link-active, 
.tw-custom .s-conversation-preview.router-link-active *:not(.s-avatar__status) {
    background-color: #555 !important;
}

.meetButton,
.tw-custom .s-card,
.tw-custom .s-card *:not(.s-avatar__status) {
    background-color: #111 !important;
    color: #ddd;
}

.tw-custom .mention-tag {
    background-color: #666 !important;
}

.tw-custom .s-conversations-list--blank-slate-shown, 
.tw-custom .s-conversation-timeline-blank-slate,
.tw-custom .s-conversations-list {
    border-width: 0px !important;
}

.tw-custom,
.tw-custom .s-message-reactions,
.tw-custom .s-messages__separator-line,
.tw-custom .s-menu__item,
.tw-custom .s-menu__item *:not(.s-avatar__status),
.tw-custom .s-third-party-card,
.tw-custom .s-message-form {
    border-color: #444 !important;
}

.tw-custom .s-conversation-preview__title-text,
.tw-custom .s-conversation-preview__top-row,
.tw-custom .s-conversation-preview__top-row *:not(.s-avatar__status) {
    color: #666 !important;
}

.tw-custom .ql-editor *:not(.s-avatar__status),
.tw-custom .s-message__author,
.tw-custom .s-message__author *:not(.s-avatar__status),
.tw-custom .m-file-viewer__header,
.tw-custom .m-file-viewer__header *:not(.s-avatar__status),
.tw-custom .s-conversation-preview__bottom-row,
.tw-custom .s-conversation-preview__bottom-row *:not(.s-avatar__status),
.tw-custom .s-conversation-preview__author-label,
.tw-custom .s-conversation-preview__author-label *:not(.s-avatar__status) {
    color: #aaa !important;
}

.tw-custom .s-conversation-preview--unread, 
.tw-custom .p-chat__left-sidebar,
.tw-custom .p-chat__left-sidebar *:not(.s-avatar__status),
.tw-custom .s-conversation-title__title-text,
.tw-custom .s-conversation-title__title-text *:not(.s-avatar__status),
.tw-custom .s-messages__separator-content,
.tw-custom .s-messages__separator-content *:not(.s-avatar__status),
.tw-custom .s-message__contents,
.tw-custom .s-message__contents *:not(.s-avatar__status) {
    color: #ddd !important;
}

.meetButton,
.tw-custom .mention-tag {
    border-radius: 50px;
}
/*
 Revisar esto
*/

.tw-custom .s-third-party-card__header a:contains('Meet'),
.tw-custom .s-third-party-card__header a:contains('Meet') *:not(.s-avatar__status) {
    background-color: #205e9f !important;
}

.tw-custom .s-message__contents pre 
.tw-custom .s-message__contents pre *:not(.s-avatar__status) 
.tw-custom .s-message__contents code 
.tw-custom .s-message__content code *:not(.s-avatar__status) {
    background-color: #555 !important;
}



.meetButton {
    outline: none;
    margin: 5px 15px;
    border: 1px solid #205e9f;
    padding: 4px 6px;
    cursor: hand;
    background: #205e9f !important;
}
#TwContainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}
#TwContainer a,
#TwContainer a * {
    border: none;
    outline: none;
    padding: 2px 2px;
    cursor: pointer;
} 