

.DarkMode blockquote {
    border-color: #444 !important;
}

.DarkMode .s-messages__separator-content,
.DarkMode .s-messages__separator-content--last-read,
.DarkMode .s-conversation-title,
.DarkMode .s-conversation-title *,
.DarkMode .s-conversation__message-form-wrapper,
.DarkMode .s-conversation__message-form-wrapper *,
.DarkMode .m-file-viewer__file,
.DarkMode .m-file-viewer__file *,
.DarkMode .s-messages,
.DarkMode .s-messages *:not(pre):not(code) {
    background-color: #282828 !important;
}

.DarkMode .s-conversation-blank-slate__message,
.DarkMode .w-conversation-link,
.DarkMode .w-conversation-link *,
.DarkMode .s-conversations-list,
.DarkMode .s-conversations-list *,
.DarkMode .s-conversations-filter,
.DarkMode .s-conversations-filter *,
.DarkMode .s-conversations-list__header,
.DarkMode .s-conversations-list__header *,
.DarkMode .w-text-input,
.DarkMode .w-text-input *,
.DarkMode .m-file-viewer__header,
.DarkMode .m-file-viewer__header *,
.DarkMode .p-chat__left-sidebar,
.DarkMode .p-chat__left-sidebar * {
    background-color: #222 !important;
}

.DarkMode .s-avatar__status {
    display: none;
}

.meetButton,
.DarkMode .s-conversations-list__unread-indicator,
.DarkMode .s-conversation-preview--unread, 
.DarkMode .s-conversation-preview--unread *,
.DarkMode .s-unified-header { 
    background-color: #205e9f !important;
}
.DarkMode .s-conversation-preview.router-link-active, 
.DarkMode .s-conversation-preview.router-link-active * {
    background-color: #555 !important;
}

.meetButton,
.DarkMode .s-card,
.DarkMode .s-card * {
    background-color: #111 !important;
    color: #ddd;
}

.DarkMode .mention-tag {
    background-color: #666 !important;
}

.DarkMode .s-conversations-list {
    border: none;
}

.DarkMode .s-message-reactions,
.DarkMode .s-messages__separator-line,
.DarkMode .s-menu__item,
.DarkMode .s-menu__item *,
.DarkMode .s-third-party-card,
.DarkMode .s-message-form {
    border-color: #444 !important;
}

.DarkMode .s-conversation-preview__title-text,
.DarkMode .s-conversation-preview__top-row,
.DarkMode .s-conversation-preview__top-row * {
    color: #666 !important;
}

.DarkMode .ql-editor *,
.DarkMode .s-message__author,
.DarkMode .s-message__author *,
.DarkMode .m-file-viewer__header,
.DarkMode .m-file-viewer__header *,
.DarkMode .s-conversation-preview__bottom-row,
.DarkMode .s-conversation-preview__bottom-row *,
.DarkMode .s-conversation-preview__author-label,
.DarkMode .s-conversation-preview__author-label * {
    color: #aaa !important;
}

.DarkMode .s-conversation-preview--unread, 
.DarkMode .p-chat__left-sidebar,
.DarkMode .p-chat__left-sidebar *,
.DarkMode .s-conversation-title__title-text,
.DarkMode .s-conversation-title__title-text *,
.DarkMode .s-messages__separator-content,
.DarkMode .s-messages__separator-content *,
.DarkMode .s-message__contents,
.DarkMode .s-message__contents * {
    color: #ddd !important;
}

.meetButton,
.DarkMode .mention-tag {
    border-radius: 50px;
}
/*
 Revisar esto
*/

.DarkMode .s-third-party-card__header a:contains('Meet'),
.DarkMode .s-third-party-card__header a:contains('Meet') * {
    background-color: #205e9f !important;
}

.DarkMode .s-message__contents pre 
.DarkMode .s-message__contents pre * 
.DarkMode .s-message__contents code 
.DarkMode .s-message__content code * {
    background-color: #555 !important;
}

.meetButton {
    outline: none;
    margin: 5px 15px;
    border: 1px solid #205e9f;
    padding: 4px 6px;
    cursor: hand;
    background: #205e9f !important;
}